/* You can add global styles to this file, and also import other style files */

path:hover {
    fill: red;
}

.map{
    width: 70%;
}

.info {
    width: 20%;
    background-color: green;
    position: absolute;
    top: 300px;
    right:10px;
    padding: 10px 10px 10px 10px;
    font-family: 'Franklin Gothic Medium';
    font-size: 25px;
}